@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

:root {
  --interRegular: 400;
  --interMedium: 500;
  --interSemiBold: 600;
  --interBold: 700;
  --interExtraBold: 800;
  --interBlack: 900;
  --lightColor: rgba(255, 255, 255, 1);
  --darkLightColor: rgba(255, 255, 255, 0.5);
  --darkColor: rgba(0, 0, 0, 1);
  --darkColor2: rgba(34, 34, 34, 1);
  --btnColor: rgba(230, 83, 60, 1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: var(--interRegular);
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--darkLightColor);
}

.btn {
  border-radius: 42px;
  padding: 16px 40px;
  border: none;
  background-color: var(--btnColor);
  color: var(--lightColor);
  font-family: var(--font-family);
  font-weight: var(--interSemiBold);
  font-size: 1.125rem;
  line-height: 122%;
  transition: 0.3s;
}

/* Header section styles started */
#header_section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 1);
}

.header_container {
  width: 100%;
  padding-top: 60px;
  box-sizing: border-box;
  background-image: linear-gradient(
    rgba(17, 17, 17, 0),
    rgba(119, 119, 119, 0.25),
    rgba(17, 17, 17, 0)
  );
}

/* navbar */
#navbar {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand_name {
  font-style: italic;
  font-weight: var(--interExtraBold);
  font-size: 2.25rem;
  line-height: 120%;
  color: var(--btnColor);
}

.main_menu {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
}

.menu_list {
  list-style: none;
  border-radius: 46px;
  padding: 8px 20px;
}

.menu_link {
  text-decoration: none;
  font-size: 18px;
  color: var(--lightColor);
}

.menu_list,
.menu_link {
  transition: 0.3s;
}

.menu_list:hover {
  background-color: var(--btnColor);
}
.menu_list:hover .menu_link {
  font-weight: var(--interSemiBold);
}

.menu_icon {
  display: none;
}

/* banner section */
#banner_section {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  column-gap: 75px;
}

.banner_content {
  width: 50%;
}

.banner_title {
  font-weight: var(--interBlack);
  font-size: 4.9rem;
  line-height: 100%;
  color: var(--lightColor);
}
.banner_title span {
  font-family: "Miama", sans-serif;
  font-weight: var(--interRegular);
}
.banner_description {
  margin: 25px 0px;
}

.banner_btn1:hover {
  background-color: var(--lightColor);
  color: var(--btnColor);
}
.banner_btn2 {
  border: 1px solid var(--lightColor);
  background-color: rgba(255, 255, 255, 0);
  margin-left: 15px;
}
.banner_btn2:hover {
  border: 1px solid var(--btnColor);
  color: var(--btnColor);
}

/* banner image */
.banner_img {
  width: 50%;
  text-align: right;
}
.banner_img img {
  height: 100%;
}

/* hover buttons on the image */
.hover_button_s {
  text-align: left;
  position: relative;
}
.hover_button {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 20px;
  position: absolute;
}
.hover_button h3 {
  font-weight: var(--interBlack);
  font-size: 1.5rem;
  line-height: 100%;
  color: var(--lightColor);
}
.hover_button p {
  color: rgba(239, 237, 232, 0.65);
  margin-top: 5px;
}

.circle_d {
  display: flex;
  align-items: center;
  gap: 15px;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--btnColor);
}

.hb1 {
  top: 120px;
  right: -80px;
}
.hb2 {
  top: 400px;
  left: 20px;
}
/* Header section styles ended */

/* Habits section styles started */
#habits_section {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: var(--darkColor);
}

.habits_content {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
}
.habits_content h2 {
  font-size: 3rem;
  font-weight: var(--interBlack);
  line-height: 120%;
  color: var(--lightColor);
  margin-bottom: 14px;
}

.habits_items {
  width: 1060px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.habits_card {
  width: 230px;
  text-align: center;
}
.habits_card img {
  border-radius: 50%;
}
.habits_card h4 {
  font-weight: var(--interSemiBold);
  font-size: 1.125rem;
  color: var(--lightColor);
  margin: 30px 0 6px 0;
}
.habits_card p {
  font-size: 0.9rem;
  line-height: 130%;
}
/* Habits section styles ended */

/* Extra mile section styles started */
#extra_mile_section {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: var(--darkColor);
}

.extra_mile_container {
  border-radius: 18px;
  width: 1060px;
  height: 370px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  background-color: var(--darkColor2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra_mile_content {
  width: 440px;
}
.extra_mile_content h2 {
  font-weight: var(--interBlack);
  font-size: 3rem;
  line-height: 120%;
  color: var(--lightColor);
}
.extra_mile_content p {
  margin: 14px 0 25px 0;
  line-height: 170%;
}

.extra_mile_img {
  height: 100%;
}

.extra_mile_img img {
  border-radius: 18px;
  height: 100%;
}
/* Extra mile section styles ended */

/* BMI Calculator section styles started */
#bmi_clc_section {
  background-color: var(--darkColor);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 85px;
}

.bmi_content {
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 85px;
}

.bmi_content_title {
  font-weight: var(--interBlack);
  font-size: 3rem;
  line-height: 120%;
  color: var(--lightColor);
  margin-bottom: 12px;
}

.bmi_container {
  background-color: var(--darkColor2);
  padding: 50px 0px;
  box-sizing: border-box;
}
.bmi_container2 {
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.clc_chart h3 {
  font-weight: var(--interBlack);
  font-size: 1.75rem;
  line-height: 120%;
  color: var(--lightColor);
  margin-bottom: 50px;
}
.bmi_table {
  border: 1px solid var(--lightColor);
  border-collapse: collapse;
}
.bmi_table tr {
}
.bmi_table th {
  text-align: left;
  color: var(--lightColor);
  font-size: 1rem;
}
.bmi_table th,
.bmi_table td {
  border: 2px solid var(--darkLightColor);
  padding: 10px 25px;
  width: 150px;
}

/* Calculate your BMI */
.bmi_form_container {
}
.bmi_form_title {
  font-weight: var(--interBlack);
  font-size: 1.75rem;
  line-height: 120%;
  color: var(--lightColor);
}
.bmi_form_description {
  line-height: 171%;
  margin: 15px 0px 35px;
}

.bmi_form {
  max-width: 580px;
  /* border: 1px solid red; */
}
.input_field {
  display: flex;

  gap: 15px;
}
.input_field input,
.sex {
  width: 280px;
  margin-bottom: 12px;
}
.input_field input,
.sex,
.activity_factor {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  color: var(--darkLightColor);
}
.activity_factor {
  max-width: 580px;
  width: 100%;
}
.input_field option {
  background-color: #393939;
  color: var(--darkLightColor);
}
.selected {
  display: none;
}

.calculate {
  padding: 16px 50px;
  margin-top: 35px;
}

/* BMI Calculator section styles ended */

/* Team section styles started */
#team_section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0px;
  background-color: var(--darkColor);
}
.team_content {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
}

.team_content h2 {
  font-weight: var(--interBlack);
  font-size: 3rem;
  line-height: 120%;
  color: var(--lightColor);
  margin-bottom: 10px;
}

.team_items {
  width: 1060px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 18px;
  background-color: var(--darkColor2);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
}
.team_card {
  position: relative;
  width: 326px;
  height: 272px;
}

.team_card img {
  border-radius: 18px;
  width: 100%;
  height: 100%;
}

.team_card_content {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.team_card_content h3 {
  font-weight: var(--interBlack);
  font-size: 1.25rem;
  line-height: 120%;
  color: var(--lightColor);
}
/* Team section styles started */

/* Footer section styles started */
#footer_section {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 70px;
  box-sizing: border-box;
  background-color: #1a1a1a;
}

.footer_container {
  max-width: 1060px;
  margin: 0 auto;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer_box1 {
  width: 40%;
}
.footer_box1 h3 {
  font-style: italic;
  font-weight: var(--interExtraBold);
  font-size: 4.3rem;
  line-height: 120%;
  color: var(--btnColor);
  margin-bottom: 20px;
}

.footer_box2 {
  width: 50%;
  display: flex;
  gap: 150px;
}

.footer_box2 h4 {
  font-weight: var(--interBold);
  font-size: 2rem;
  line-height: 120%;
  color: var(--lightColor);
  margin-bottom: 35px;
}

.footer_list {
  list-style: none;
  margin-bottom: 15px;
}
.footer_link {
  text-decoration: none;
  font-weight: var(--interRegular);
  font-size: 1.45rem;
  line-height: 120%;
  color: var(--darkLightColor);
}

.copy_right {
  padding: 35px 0;
}

.copy_right p {
  text-align: center;
  font-size: 1.2rem;
}
/* Footer section styles ended */

/* Responsive Design */
@media screen and (max-width: 576px) {
  /* Header section styles started */
  /* navbar */
  .brand_name {
    margin-left: 20px;
  }
  .main_menu {
    display: none;
  }
  .menu_icon {
    display: block;
    margin-right: 20px;
    color: var(--lightColor);
    font-size: 1.5rem;
  }

  /* banner section */
  #banner_section {
    flex-direction: column;
    margin-top: 50px;
    padding: 0px 20px;
    box-sizing: border-box;
    row-gap: 45px;
  }
  .banner_content {
    width: 100%;
  }
  .banner_title {
    font-size: 2.25rem;
  }
  .banner_btn1,
  .banner_btn2 {
    padding: 10px 15px;
    font-size: 1rem;
  }

  /* banner image */
  .banner_img {
    width: 100%;
    text-align: center;
  }
  .banner_img img {
    width: 100%;
  }

  /* hover buttons on the image */
  .hover_button {
    padding: 10px 15px;
  }

  .hover_button p {
    font-size: 0.57rem;
    margin-top: 1px;
  }
  .circle {
    width: 30px;
    height: 30px;
  }

  .hb1 {
    top: 80px;
    right: 0px;
  }
  .hb2 {
    top: 250px;
    left: 40px;
  }

  /* Habits section styles started */
  #habits_section {
    padding: 50px 20px 0;
  }

  .habits_content h2 {
    font-size: 2rem;
  }

  .habits_items {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
  }

  /* Extra mile section styles started */
  #extra_mile_section {
    width: 100%;
    padding: 60px 20px 0;
  }
  .extra_mile_container {
    row-gap: 30px;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .extra_mile_content {
    width: 100%;
  }
  .extra_mile_content button {
    width: 100%;
  }
  .extra_mile_content h2 {
    font-size: 2rem;
  }
  .extra_mile_img {
    width: 100%;
  }
  .extra_mile_img img {
    width: 100%;
    height: auto;
  }

  /* Team section styles started */
  #team_section {
    max-width: 100%;
    padding: 65px 20px 65px;
  }
  .team_content {
    max-width: 100%;
  }

  .team_content h2 {
    font-size: 2rem;
  }

  .team_items {
    width: 100%;
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
  .team_card {
    width: 100%;
    height: auto;
  }

  .team_card_content {
    bottom: 10px;
    left: 15px;
  }

  /* footer section */
  #footer_section {
    padding-top: 30px;
  }

  .footer_container {
    padding: 20px;
  }

  .footer_content {
    flex-direction: column;
  }

  .footer_box1 {
    width: 100%;
  }

  .footer_box2 {
    width: 100%;
    gap: 50px;
    flex-direction: column;
  }

  /* BMI Calculator section styles started */
  #bmi_clc_section {
    padding-top: 35px;
  }

  .bmi_content {
    margin-bottom: 35px;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .bmi_content_title {
    font-size: 2rem;
  }

  .bmi_container {
    padding: 35px 20px;
  }
  .bmi_container2 {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .clc_chart h3 {
    font-size: 1rem;
    margin-bottom: 25px;
  }

  .bmi_table th,
  .bmi_table td {
    border: 1px solid var(--darkLightColor);
    padding: 10px 15px;
    width: 50%;
    box-sizing: border-box;
  }

  /* Calculate your BMI */
  .bmi_form_title {
    font-size: 1rem;
  }
  .bmi_form {
    width: 100%;
  }
  .input_field {
    gap: 10px;
  }
  .input_field input,
  .sex {
    width: 50%;
  }
  .input_field input,
  .sex,
  .activity_factor {
    padding: 12px 15px;
  }
}
